<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backendHost</key>
	<string>http://192.168.1.35:8080</string>
	<key>searchEndpoint</key>
	<string>search</string>
	<key>booksEndpoint</key>
	<string>books</string>
	<key>requestTimeOutInSeconds</key>
	<integer>5</integer>
</dict>
</plist>
